.preloader {
    align-items: center;
    background: #FFF;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transform: opacity 1s linear;
  }



.modal-header {
    border: none;
}

.modal.fade.show {
    display: flex !important;
}

.modal-dialog {
    margin: auto;
}

.modal-content {
    border-radius: 0rem;
}

.card-body a {
    background: linear-gradient(0deg, #2A272A , #2A272A ) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}
.card-body a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.card-body .underline {
    padding-bottom: 2px;
    --bg-h: 2px;
}

.card-body a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
}
#jobs img {
    width: 100%;
}
a {
    cursor: pointer;
}
#interests img {
    padding: 10px;
    height: 75px;
}
header {
    /*background-image: url("../imgs/header.webp");*/
    height: 100vh;
    background-position: bottom right;
    border-bottom: 1px solid black;
}
body {
    /*background-color: #3a3a3a;
    color: #d4d4d4 !important;*/
    overflow-x: hidden !important;
    font-size: 1.2rem;
}
html{
    
    scroll-behavior: smooth;
}
nav {
    width: 100vw;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 35%, rgba(255,255,255,0.5) 100%);
}

.modal-title {
    text-transform: uppercase;
}
a {
    color: inherit;
}
footer .col-md-4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bg-primary {
    color: #D7D7D7 !important;
    background-color: #2A272A !important;
}

.background {
    position: absolute;

    display: block;
    height: auto;
    width: 100%;
    top: 0;

    left: 0;

    z-index: -1;
}
nav {
    
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
    transition-property: color, background-color, border-color;
}
nav.down {
    background: none;
    background-color: #2A272A !important;
}

nav.down .navbar-toggler-icon {
    filter: brightness(100);
}
nav.down .nav-link,
nav.down .navbar-brand {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
    transition-property: color, background-color, border-color;
    color: #D7D7D7 !important;
}
footer {
    color: #D7D7D7 !important;
    background-color: #2A272A;

}
footer a {
    color: #D7D7D7 !important;
}


#jobs {
    
    color: #D7D7D7 !important;
    background-color: #2A272A;
}
#jobs p:last-child {
    font-style: italic;
}
header img {    
    height: 130px;
    width: 130px;
    border-radius: 130px;
    border: 1px solid black;
}

.text-justify {
    text-align: justify;
}
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:130px;
  height:130px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:130px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}




body::-webkit-scrollbar{
    display: none;
  }


.fa-chevron-down:hover{
    color: #212529;
}
.fa-chevron-down {
    color: #212529;
    position: relative;
    animation: jumpInfinite 1.5s infinite;
  }

@keyframes jumpInfinite {
    0% {
        bottom: 0;
    }
    50% {
      bottom: 10px;
    }
    100% {
        bottom: 0;
    }
  }
@media (max-width: 768px){
    .down .navbar-toggler {
        color: #D7D7D7 ;
    }
    nav {
        background: #fff;
    }
  }